$black: black;
$white: white;
$saccents: #FAC836;
$bg: #FCF4EA;
$text: #444645;
$bodyFont: "Montserrat", sans-serif;
$headingsFont: "Amatic SC", sans-serif;
$fontSize: 15px;
$transition: .3s linear;



